.main-header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 0 10rem;
    background-color: #333;
}

.h-100 {
    height: 100%;
}

.nav-div {
    flex-grow: 1;
}

.nav-div ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.nav-div ul li:not(:last-child) {
    line-height: 8vh;
    padding: 0 10px;
}

.nav-div ul li:not(:last-child):hover {
    background-color: #cccccc12;
}

.register-login-buttons span {
    background-color: var(--color-secondary);
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    color: var(--color-text);
    letter-spacing: 0.5px;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    margin: 0;
}

.register-login-buttons span:first-child {
    border-radius: 2rem;
}



@keyframes appear {
    from {
        margin-left: 10px;
    }
    to {
        margin-left: 0;
    }
}

.logout-button {
    background-color: #ff4c4c;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.logout-button::after {
    content: "Logout";
    display: inline-block;
    position: absolute;
    transition: all 0.2s ease-in-out;
    transform: translateX(55px);
}

.logout-button:hover::after {
    transform: translateX(-48px);
}

.logout-button i {
    transition: all 0.2s ease-in-out;
}

.logout-button:hover i {
    margin-right: 55px;
}

#showNavItens {
    display: none;
}

@keyframes showNav {
    from{
        transform: translateX(180px);
    }
    to {
        transform: translateX(0);
    }
}

@media screen and (max-width: 1000px) {
    #navItens {
        display: none;
        position: absolute;
        right: 0px;
        background-color: var(--color-primary);
        flex-direction: column-reverse;
        height: fit-content;
        justify-content: start;
        align-items: center;
        gap: 10px;
        padding: 2rem 1rem;
        border-radius: 0 0 0 25px;
        width: 180px;
        transition: all 0.2s ease-in-out;
    }

    #navItens li {
        line-height: normal;
        padding: 1.5rem;
    }

    #showNavItens {
        display: block;
        position: absolute;
        background-color: var(--color-primary);
        right: 0px;
        top: 10px;
        padding: 0.8rem;
        border-radius: 5px 0 0 5px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    #showNavItens.active {
        right: 180px;
    }

    #navItens.active {
        animation: showNav 0.2s ease-in-out;
        display: flex;
    }
}