{% extends "pages/base.html" %}

{% block content %}
<main class="user-dashboard montserrat-regular-normal">
    <section class="form-section">
        <h2>Verifique o Valor do Dólar</h2>

        <form method="post" id="currency-form">
            {{ form.hidden_tag() }}
            {{ form.value.label }}
            <input type="number" name="value" step="0.10" required value="{{form.value.data}}">
            {% for error in form.value.errors %}
                <p style="color: red; margin-top: 5px;">{{ error }}</p>
            {% endfor %}
            {{ form.submit() }}
        </form>

        <p>Adicione um valor, e receba notificação por email quando o dólar alcançar o valor desejado</p>

        {% if user_target %}
            <p>Seu valor salvo atualmente é: <span>R$ {{user_target.value}}</span></p>
            <form action="{{del_action}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit">Deletar</button>
            </form>
        {% endif %}
        <div id="feedback" class="feedback"></div>
    </section>
    
    <section class="info-section">
        <h2>Cotação Atual do Dólar</h2>
        <p id="current-rate">R$ {% if currency %}{{currency.value_dollar}}{% endif %}</p>
        <p>Última atualização: <span id="last-updated">{% if minutes %}{{minutes}} minutos{% endif %}</span></p>
    </section>
    
    <section class="tips-section">
        <h2>Dicas</h2>
        <ul>
            <li>Verifique a cotação do dólar regularmente.</li>
            <li>Armazene seus valores em um diário financeiro.</li>
            <li>Considere usar aplicativos de monitoramento de câmbio.</li>
        </ul>
    </section>
</main>
{% endblock content %}