@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(main.css);
@import url(login.css);
@import url(header.css);
@import url(footer.css);
@import url(dashboard.css);
@import url(register.css);
@import url(errors.css);
@import url(update_user.css);
@import url(change_password.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  color: var(--color-text);
}

body {
  background: radial-gradient(circle, #444, #171717);
}

a {
  color: var(--color-text);
}

:root {
  --color-text: #fff;
  --color-background: #444;
  --color-primary: #023059;
  --color-secondary: #F2AE30;
  --color-accent: #9BAEBF;
}

.h-100 {height: 100%;}

.roboto-regular-normal {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.roboto-bold-big {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 32px;
}

.montserrat-regular-normal {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px
}

.message-flash {
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  display: flex;
  place-content: center;
  padding: 1.2rem;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
}

.message-flash:has(.error) {
  background-image: linear-gradient(to right, #ff42428a, #ff59597b);
}

.message-flash:has(.success) {
  background-image: linear-gradient(to right, #3bff7cae, #6bff9cae);
}

.message-flash:has(.warning) {
  background-image: linear-gradient(to right, #fffc3ccd, #fffc52cd);
}

@media screen and (max-width:700px) {
    .roboto-bold-big {
      font-size: 24px;
    }

    .montserrat-regular-normal {
      font-size: 12px;
    }
}