.change_password {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}

.change_password section {
    background-color: #333;
    padding: 2rem;
    width: 500px;
}

.change_password section h1 {
    margin-bottom: 2.5rem;
    text-align: center;
}

.change_password form {
    display: flex;
    flex-direction: column;
}
