{% extends "pages/base.html" %}
~
{% block content %}
<main class="login">
    <section class="login-section montserrat-regular-normal">
        <h1 class="roboto-bold-big">Login</h1>

        <form class="dft-form" method="post">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.email.label }}
                {{ form.email }}
            </div>

            <div class="form-group">
                {{ form.password.label }}
                {{ form.password }}
            </div>
            
            {{form.submit()}}
        </form>

        <p>Ou</p>

        <a class="montserrat-regular-normal" href="/login/oauth"><i class="fa-brands fa-google"></i> Logar com o Google</a>
    </section>
</main>
{% endblock content %}

