<footer class="main-footer montserrat-regular-normal">
    <h2>Redes sociais</h2>
        <div class="icons">
            <ul>
                <li><a href="https://github.com/Ric002x/MonitorDeCotacoes"><i class="fa-brands fa-github icon-footer"></i></a></li>
                <li><a href="https://www.linkedin.com/in/ricardo-oliveira-a48516223/"><i class="fa-brands fa-linkedin icon-footer"></i></a></li>
                <li><a href="https://www.instagram.com/r_venicius0/"><i class="fa-brands fa-instagram icon-footer"></i></a></li>
            </ul>
        </div>
    <div class="hr"></div>
    <p>Todos os direitos reservados. &copy; 2024</p>
</footer>