<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CurrencyTrack</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <section class="hero">
        <h1>Monioramento de Cotações</h1>
        <p>Acompanhe as flutuações do mercado cambial com dados precisos e atualizados. Seja o primeiro a saber das
            melhores oportunidades de compra e venda.</p>
        <br>
        <a href="">Veja mais sobre o site</a>
        <a href="/login">Cadastre-se aqui</a>
    </section>
</body>

</html>